.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(222, 219, 219, 0.634);
  padding: 10px;
  width: 500px;
  margin: 0 auto;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 40px;
  z-index: 1000;
}


@media (max-width: 768px) {
  .skill-container {
    max-width: 90%;
  }
}
.NavBar a {
  text-decoration: none;
  color: #6c757d;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.NavBar a:hover {
  background-color: #e9ecef;
  color: #343a40;
}

.NavBar .active {
  background-color: #f8f9fa;
  color: #000;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
