
/* 页面的包装容器 */
.page-wrapper {
    display: flex;
    flex-direction: column; /* 添加这行，使子元素竖向排列 */
    justify-content: center;
    align-items: center;
}

.education-container {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9; /* 背景颜色 */
    border-radius: 10px; /* 圆角 */

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 轻微的阴影效果 */
    margin: 20px 0;

    width: 650px;;
    justify-content: center;
}

@media screen and (max-width: 650px) {
    .education-container {
        width: 80vw; /* 宽度占满屏幕 */
    }
}

.logo img {
    width: 200px; /* 根据需要调整大小 */
    height: auto; /* 保持宽高比 */
    margin-right: 20px; /* 右侧留出空间 */
}

.education-details {
    flex: 1; /* 占据剩余空间 */
}

.education-details h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333; /* 标题颜色 */
    font-family: 'Arial', sans-serif; /* 设置字体 */
}

.education-details p {
    font-size: 1.2em;
    color: #000000; /* 文本颜色 */
    margin: 5px 0; /* 段落间距 */
    font-family: 'Arial', sans-serif; /* 设置字体 */
    text-align: left;   /*对齐到左边*/
    font-family: 'Arial', sans-serif; /* 设置字体 */

}

.education-details ul {
    list-style-type: disc; /* 使用圆点作为列表项标记 */
    padding-left: 20px; /* 圆点的位置 */
    margin: 5px 0; /* 列表的间距 */
    list-style-position: inside; /* 圆点在列表项内部 */
}

.education-details li {
    font-size: 0.9em;
    margin: 5px 0; /* 列表项的间距 */
    padding-left: 0;
}